doctype html
html
    head
        link(rel='stylesheet' type='text/css' href='dizains.css')
    body
        header(style="background-image: url('img/header.jpg')")
            .navbar
                a.active(href='#')
                    i.home
                    |  HOME
                a(href='#')
                    i.real.estate
                    |  REAL ESTATE
                a(href='#')
                    i.other.countries
                    |  OTHER COUNTRIES
                a(href='#')
                    i.about.us
                    |  ABOUT US
                a(href='#')
                    i.filter
                    |  FILTER
        main
            section.col-9
                article.col-4(style="background-image: url('img/col1.jpg');") 1
                article.col-4(style="background-image: url('img/col2.jpg');") 2
                article.col-4(style="background-image: url('img/col3.jpg');") 3
                article.col-4(style="background-image: url('img/col1_2.jpg');") 4
                article.col-4(style="background-image: url('img/col2_2.jpg');") 5
                article.col-4(style="background-image: url('img/col3_2.jpg');") 6
                article.col-4(style="background-image: url('img/col1_3.jpg');") 7
                article.col-4(style="background-image: url('img/col2_3.jpg');") 8
                article.col-4(style="background-image: url('img/col3_3.jpg');") 9
            aside.col-3
                | aside bar
                article.col-4(style="background-image: url('img/col1.jpg');")
        footer
            section.col-12(style="background-image: url('img/header.jpg');") gagabahaahahah
