* {
  box-sizing: border-box;
}
header {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
footer {
  background-image: cover;
  background-repeat: no-repeat;
}
body {
  margin: 0px;
}
[class*="col-"] {
  float: left;
  padding: 0px;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 32%;
  background-size: cover;
  height: 150px;
  padding: 0px;
  margin: 5px;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  max-height: 100%;
  max-width: 100%;
}
.navbar {
  right: 0px;
  top: 10px;
  background-color: black;
  position: absolute;
}
.navbar a {
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
}
.navbar a:hover {
  background-color: black;
  color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=dizains.css.map */